<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <section>
        <img class="banner" src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
    </section>
    <main>
        <section class="primera seccion">

            <h3>Basado en tu última visita</h3>
            <div class="productos">
                
                
                <% products.forEach (product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>

                
        </section>

        <section>
            <h3>Ofertas</h3>
            <div class="productos">
                
                <% products.forEach (product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
            </div>
            </div>
        </section>
    </main>

</body>

<%- include('partials/footer') %>

</html>